@import url("https://fontsapi.zeoseven.com/116/main/result.css");

//color gradient animation
@keyframes gradient-animation {
  0% {
    background-size: 90% 90%;
    background-image: radial-gradient(circle, #D16BA5 0%, #86A8E7 60%, #5FFBF1 100%);
  }
  50% {
    background-size: 200% 200%;
    background-image: radial-gradient(circle, #D16BA5 0%, #86A8E7 60%, #5FFBF1 100%);
  }
  100% {
    background-size: 90% 90%;
    background-image: radial-gradient(circle, #D16BA5 0%, #86A8E7 60%, #5FFBF1 100%);
  }
}

:root {    

// background colors
--vp-c-bg: radial-gradient(circle, #D16BA5 0%, #86A8E7 60%, #5FFBF1 100%);
--vp-c-bg-alt: radial-gradient(circle, #D16BA5 0%, #86A8E7 60%, #5FFBF1 100%);
--vp-c-bg-elv: radial-gradient(circle, #D16BA5 0%, #86A8E7 60%, #5FFBF1 100%);

// text colors
--vp-c-text: rgb(255 255 255);
--vp-c-text-mute: rgb(255 255 255 / 78%);
--vp-c-text-subtle: rgb(255 255 255 / 56%);

// font vars
--font-family:
    -apple-system, 'Kingnammm Maiyuan 2', 'Segoe UI', roboto, oxygen, ubuntu,
    cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

 }

body {
  
    background-position: center center;
        // 只在浅色模式下加动画
    animation: gradient-animation 15s ease-in-out infinite;
    background-attachment: fixed;
    background-size: 100vh;
}

// article page config
body .page{
  background-image: linear-gradient(to right bottom, 
  #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec,
  #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: auto;
  background-position: 0 0;
}

.article-wrapper{
  background-image: url('../public/Copilot_20250611_004210.png');
  background-attachment: fixed;  /* 固定背景 */
  background-position: top center;   /* 图片居中 */
  background-repeat: no-repeat;  /* 不重复图片 */
  background-size: auto;
}

// nav config
body .vp-navbar {
  border-bottom: none !important;
}

.vp-navbar-item {
  font-size: 1.2em;
}

// button config
body .vp-hero-action-button{
  color: #41dfff;
}

body .vp-hero-action-button.primary {
  background-color: #3ac2ff;
  border-color: #3ac2ff;
  color: #fff;
  padding: 0.6em 2em 0.6em 2.8em; // 左侧内边距加大
  clip-path: polygon(
    0% 50%,   /* 左中箭头尖 */
    20% 0%,   /* 左上 */
    100% 0%,  /* 右上 */
    100% 100%,/* 右下 */
    20% 100%  /* 左下 */
  );
  transition: background 0.3s, border 0.3s;
 
}


body .vp-hero-action-button.primary:hover {
  background-color: #65a1f2;
  border-color: #65a1f2;
}

body .vp-hero-action-button.secondary {
  border-color: #41dfff;
}

body .vp-hero-action-button.third {
  border-color: #41dfff;
}

// blog article config
.title {
  color: #fff;
  transition: color 0.3s;
}

.title:hover {
  color: #41dfff;
}



article {
  background-color:rgb(255, 143, 128,0.3);
  
}

/* 小屏幕样式 */
@media (max-width: 450px) {
  .vp-sidebar {
    border: none;
  }
  .vp-sidebar .vp-navbar-items{
    border-bottom: none;
  }
}

[data-theme='dark'] {
// background colors
--vp-c-bg: radial-gradient(circle, #232526 0%, #414345 60%, #6a82fb 100%);
--vp-c-bg-alt: radial-gradient(circle, #232526 0%, #414345 60%, #6a82fb 100%);
--vp-c-bg-elv: radial-gradient(circle, #232526 0%, #414345 60%, #6a82fb 100%);

    //暗黑模式全局配置
    body {
            animation: none;
            background: var(--vp-c-bg);   }
}